
.containor{
    display: flex;
    width:100vw;
    height:auto ;
    display: flex;https://github.com/KrishChothani/Resume/edit/main/Resume.css
    align-items: center;
    justify-content: center;
}
.main{
    width: 800px;
    height:auto;
    border: 1px solid black;
    display: flex;
}
.img1{
    margin-top: 50px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.main1{
    background-color: rgb(0, 23, 1);
    width: 280px;
}
.main1-1{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main2{
    width: 520px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name{
    width: 450px;
    margin-left: 10px;
}
.t1{
    margin-top: 25px;
    color: black;
    font-size: 60px;
    font-weight: bold;
}
.t2{ 
    color:Black;
    font-size: 25px;
}
.main1-2{
    display: flex;
    flex-direction: column;
}
.main1-2-1{
    margin-top: 40px;
}   
.t3{
    color: white;
    font-size: 30px;
    text-align: center;
    height: 45px;
    font-weight: 700;
}
.main1-2-1-1{
    margin-left: 20px;
    display: flex;
   
}
.t4{
    color :white;
    margin-left: 10px;
}
.img2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.ref1{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}
.ex1{
    display:flex;
    flex-direction: column;
    margin-top: 400px;
}
.main2-1{
    margin-top: 30px;
    width: 460px;
    
    display: flex;
    flex-direction: column;
}
.education{
    margin: auto;
    width:430px;
    height:auto;
    border: 3px solid black;
    border-top: 0;
    border-right: 0;
}
.edu1{  
    background-color: aliceblue;
    display: flex;
    height: 31px;
}
.edu1-1{
    flex-basis: 40px;
}
.edu1-2{
    background-color: aliceblue;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 30px;
}

.edu-photo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border :1px solid black;
}
.edu2{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.b1{
    display: flex;
    width: auto;
    height: auto;
    margin-top: 5px;
    margin-bottom: 15px;
}
.child2-1-1{
    height:auto;
    text-align: center;
    width: 23%;
    font-weight: 900;
}
.child2-1-2{
    width: 77%;
}
.skill{
    margin-left: 10px;
    display:flex;
    margin-top: 15px;
    margin-bottom:15px ;
   
    gap: 20px;
}
.cat1{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.ob1{
    height: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;

}
.ob1-1{
    height: auto;
}
.ob1-2{
    border: 1px solid black;
    display: flex;
    height: 20px;
}
.ob1-2-2{
    background-color: gray ;
  
    flex-grow: 1;
   
}
.ed-1{
    font-weight: 900;
}
.e1{
    width: 70%;
    background-color: rgb(27, 25, 25);
}
.e2{
    width: 80%;
    background-color: rgb(27, 25, 25);
}
.e3{
    width: 50%;
    background-color: rgb(27, 25, 25);
}
.e4{
    width: 90%;
    background-color: rgb(27, 25, 25);
}
.e5{
    width: 65%;
    background-color: rgb(27, 25, 25);
}
.e6{
    width: 55%;
    background-color: rgb(27, 25, 25);
}
.e7{
    width: 80%;
    background-color: rgb(27, 25, 25);
}
.e8{
    width: 90%;
    background-color: rgb(27, 25, 25);
}
